<div class="resistanceComponent">
  <h2>Resistance: </h2>
  <p>Select bands</p>
  <div>
    <label for="sigFigs">Digits</label>
    <br>
    <select name="sigFigs" id="sigFig1" >
        <option *ngFor="let color of colors; index as colorSlot; trackBy: trackColorBySlot" value="colors[colorSlot]">{{color}}</option>
    </select>
    <select name="sigFigs" id="sigFig2">
      <option value="black">Black</option>
      <option value="saab">Saab</option>
      <option value="opel">Opel</option>
      <option value="audi">Audi</option>
    </select>
    <select name="sigFigs" id="sigFig3">
      <option value="black">Black</option>
      <option value="saab">Saab</option>
      <option value="opel">Opel</option>
      <option value="audi">Audi</option>
    </select>
  </div>

  <div>
    <label for="multiply">Multiplier</label>
    <br>
    <select name="multiply" id="muliplier">
      <option value="black">Black</option>
      <option value="saab">Saab</option>
      <option value="opel">Opel</option>
      <option value="audi">Audi</option>
    </select>
  </div>

  <div>
    <label for="tolerance">Tolerance</label>
    <br>
    <select name="tolerance" id="tolerance">
      <option value="black">Black</option>
      <option value="saab">Saab</option>
      <option value="opel">Opel</option>
      <option value="audi">Audi</option>
    </select>
  </div>

</div>
