<div class="resistanceComponent">
  <div>
    <b>{{ message }}</b>
  </div>

  <p>Select bands</p>
  <div>
    <label for="sigFigs">Digits</label>
    <br>
    <select name="sigFigs" id="sigFig1" >
        <option *ngFor="let sigFig of sigFigure.sigFiguresList; index as sigFigureSpot; trackBy: trackSigFigureBySlot"
          value="sigFigure.getSigFigureDictValue()"
          (click)="sigFigure.setSigFigure(sigFig)"
          (click)="setMessage()">
          {{ sigFig }}</option>
    </select>
    <!-- <select name="sigFigs" id="sigFig2">
      <option *ngFor="let sigFig of sigFiguresList; index as sigFigSpot; trackBy: trackSigFigBySlot"
        value="sigFiguresList[sigFigSpot]">
        {{ sigFiguresList[sigFigSpot] }}</option>
    </select>
    <select name="sigFigs" id="sigFig3">
      <option *ngFor="let sigFig of sigFiguresList; index as sigFigSpot; trackBy: trackSigFigBySlot"
        value="sigFiguresList[sigFigSpot]">
        {{ sigFiguresList[sigFigSpot] }}</option> -->
    <!-- </select> -->
  <!-- </div>

  <div>
    <label for="multiply">Multiplier</label>
    <br>
    <select name="multiply" id="muliplier">
      <option *ngFor="let multiplier of multiplierList; index as multiplierSlot; trackBy: trackMultiplierBySlot"
        value="multiplierList[multiplierSlot]">
        {{ multiplierSelectBox[multiplierSlot] }}</option>
    </select>
  </div>

  <div>
    <label for="tolerance">Tolerance</label>
    <br>
    <select name="tolerance" id="tolerance">
      <option *ngFor="let tolerance of toleranceList; index as toleranceSlot; trackBy: trackToleranceBySlot"
        value="toleranceList[toleranceSlot]">
        {{ toleranceSelectBox[toleranceSlot] }}</option>
    </select>
  </div> -->

</div>
