<div class="resistanceComponent">
  <div>
    <b>{{ "Resistance: " + message }}</b>
  </div>

  <p>Select bands</p>
  <div>
    <label for="sigFigs">Digits</label>
    <br>
    <select name="sigFigs" id="sigFig1" >
        <option *ngFor="let color of theSigFigures[0].sigFiguresColorList; index as sigFigureSpot; trackBy: trackSigFigureBySlot"
          value="theSigFigures[0].getSigFigureDictValue()"
          (click)="theSigFigures[0].setSigFigure(color)"
          (click)="setMessage()">
          {{ color }}</option>
    </select>
    <select name="sigFigs" id="sigFig2" >
        <option *ngFor="let color of theSigFigures[1].sigFiguresColorList; index as sigFigureSpot; trackBy: trackSigFigureBySlot"
          value="theSigFigures[1].getSigFigureDictValue()"
          (click)="theSigFigures[1].setSigFigure(color)"
          (click)="setMessage()">
          {{ color }}</option>
    </select>
    <select name="sigFigs" id="sigFig3" >
        <option *ngFor="let color of theSigFigures[2].sigFiguresColorList; index as sigFigureSpot; trackBy: trackSigFigureBySlot"
          value="theSigFigures[2].getSigFigureDictValue()"
          (click)="theSigFigures[2].setSigFigure(color)"
          (click)="setMessage()">
          {{ color }}</option>
    </select>

  <!-- <div>
    <label for="multiply">Multiplier</label>
    <br>
    <select name="multiply" id="muliplier">
      <option *ngFor="let multiplier of multiplierList; index as multiplierSlot; trackBy: trackMultiplierBySlot"
        value="multiplierList[multiplierSlot]">
        {{ multiplierSelectBox[multiplierSlot] }}</option>
    </select>
  </div> -->

  <div>
    <label for="tolerance">Tolerance</label>
    <br>
    <select name="tolerance" id="tolerance">
      <option *ngFor="let color of theTolerance.toleranceColorList; index as toleranceSlot; trackBy: trackToleranceBySlot"
          value="theTolerance.getToleranceDictValue()"
          (click)="theTolerance.setTolerance(color)"
          (click)="setMessage()">
        {{ theTolerance.toleranceDict[color] + '%' }}</option>
    </select>
  </div>

</div>
